<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/libraries :: libraries"></div>
    <link type="text/css" href="/css/notebook.css" rel="stylesheet"/>
</head>
<body style="background: #F1F4F6;">
<header th:insert="blocks/header :: header"></header>

<script src="/js/modal_menu_config.js"></script>

<div class="container">
    <div th:each="item : ${product}">
        <h1 class="product_name mt-5 mb-3">Ноутбук</h1>
        <div class="change_position mb-2">
            <div style="margin-left:40px;" class="td-none">
                <a class="link_back td-none" href="/">Главная</a> &nbsp; > &nbsp;
                <a class="link_back td-none" href="/shop">Каталог</a> &nbsp; > &nbsp;
                <a class="link_back td-none" href="/notebooks/list">Ноутбуки</a>
            </div>
            <div style="margin-right:40px;"> < <a class="link_back td-none" href="">Предыдуший товар</a>&nbsp;|&nbsp;<a
                    class="link_back td-none" href="">Следующий товар</a> >
            </div>
        </div>

        <div class="elements_group_3 block_ mt-4">
            <div class="info_inner_form">
                <div class="block_">
                    <div class="images_pos">
                        <img class="img_border"
                             th:src="@{'http://localhost:8080/images/notebook/'+ ${item.previewImageId}}"
                             width="560" height="402" src="">
                    </div>
                    <div class="flex_ mt-3">
                        <div th:each="image : ${item.imageNoteBooksList}">
                            <div class="block_">
                                <a th:href="@{'http://localhost:8080/images/notebook/'+ ${image.id}}">
                                    <img class="image_photo_2"
                                         th:src="@{'http://localhost:8080/images/notebook/'+ ${image.id}}"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="block_" style="margin-top:20px;text-align:left;">
                            <div class="flex_start">
                                <div class="left_t_element" style="font-size: 24px;">Добавить в корзину</div>
                                <div style="margin-left: 60px;">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter"> <img
                                            class="image_user" src="/images/products/shop_.png"/> </a>
                                </div>
                                <header th:insert="blocks/modals :: shop"></header>
                            </div>
                            <div class="flex_start">
                                <div class="left_t_element  mt-3" style="font-size: 24px;">Добавить в избранное</div>
                                <div class="mt-3" style="margin-left: 30px;">
                                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter"> <img
                                            class="image_user" src="/images/products/heart_.png"/> </a>
                                </div>
                                <header th:insert="blocks/modals :: shop"></header>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-left:30px;width:100%;">
                    <h1 style="text-align: left;" th:text="'Ноутбук: ' + ${name}"></h1>
                    <div class="block_">
                        <div class="display_flex_start mt-3 mb-5">
                            <div class="price_text_2">Цена:&#160;</div>
                            <div class="price_2" th:text="${item.price}"></div>
                            <div class="price_text_2">&#160;₽</div>
                        </div>
                        <div>
                            <table cellpadding="0" cellspacing="0" border="0" BGCOLOR="#FFF" class="table_">
                                <tr>
                                    <td class="left_t_element">Процессор:</td>
                                    <td>
                                        <div th:text="${item.processorName}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Видеокарта(ты):</td>
                                    <td>
                                        <div th:text="${item.videoCardName}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Объём ОП:</td>
                                    <td>
                                        <div th:text="${item.ramSize}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Дисплей:</td>
                                    <td>
                                        <div th:text="${item.display}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Диски памяти:</td>
                                    <td>
                                        <div th:text="${item.memoryDrives}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Время работы от батареи:</td>
                                    <td>
                                        <div th:text="${item.batteryLife}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">Установленная ОС:</td>
                                    <td>
                                        <div th:text="${item.osName}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">
                                        <div th:text="'Товар ' + ${item.status}"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="left_t_element">
                                        <div th:if="${item.inStock}">
                                            <p>Товар в наличии</p>
                                        </div>
                                        <div th:unless="${item.inStock}">
                                            <p>Товара в наличии нет</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div style="text-align:left;"
                                 th:text="'Товар добавлен на сайт: ' + ${item.dateTimeCreate}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="elements_group_3">
            <h3>Описание</h3>
            <hr>
            <div style="text-align:left;font-size:18px;">
                <th:block th:each="des : ${description}">
                    <li th:utext="${des}">..</li>
                </th:block>
            </div>
        </div>

        <div class="elements_group_3" style="text-align:left;">
            <h3 style="text-align:center;">Задать вопрос продавцу</h3>
            <hr>
            <div class="input-group mb-3" style="width:50%;">
                <input placeholder="Имя пользователя" type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="mb-2">
                <textarea class="form-control" rows="6" cols="100" name="comment"
                          placeholder="Вопрос по товару"></textarea><br>
            </div>
            <button class="btn btn-primary btn-lg btn-block mb-1">Добавить</button>
            <hr>
            <h3 style="text-align:center;">Последние комментарии и ответы</h3>
            <!-- ТУТ БУДУТ КОММЕНТАРИИ ОТ ПОЛЬЗОВАТЕЛЕЙ -->
            <h5>Нет ни одного комментария</h5>
        </div>
    </div>
</div>


<header th:insert="blocks/bottom :: bottom"></header>
</body>
</html>