<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/libraries :: libraries"></div>
    <link type="text/css" href="/css/notebook.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<script src="/js/modal_menu_config.js"></script>

<div class="container">
    <div th:each="item : ${product}">
        <h3 class="product_name" th:text="'Ноутбук: ' + ${name}"></h3>
        <div class="change_position">
            <div><a href="/">Главная</a> &nbsp; > &nbsp; <a href="/shop">Каталог</a> &nbsp; > &nbsp; <a href="/notebooks/list">Ноутбуки</a></div>
            <div> < <a href="">Предыдуший товар</a> | <a href="">Следующий товар</a> ></div>
        </div>

        <div class="elements_group_3">
            <div class="info_inner_form">
                <div class="images_pos">
                    <img class="img_border" src="/images/products/groceries.png" width="250" height="250" alt="">

                    <div class="little_images">
                        <img class="img_border" src="/images/products/groceries.png" width="50" height="50" alt="">
                        <img class="img_border" src="/images/products/groceries.png" width="50" height="50" alt="">
                        <img class="img_border" src="/images/products/groceries.png" width="50" height="50" alt="">
                        <img class="img_border" src="/images/products/groceries.png" width="50" height="50" alt="">
                    </div>
                </div>
                <!-- отображение картинок-->

                <div class="product_container">
                    <div class="product_full_name_info" th:text="${item.name}"></div>
                    <!--  ОТЗЫВ   -->
                    <div class="text_add_otz">
                        <h5>Характеристики</h5>
                        <div class="display_flex">
                            <div class="rectangle_opinion_info">
                                <img src="/images/products/star_orange.png" alt="">
                                <img src="/images/products/star_orange.png" alt="">
                                <img src="/images/products/star.png" alt="">
                                <img src="/images/products/star.png" alt="">
                                <img src="/images/products/star.png" alt="">
                                <div> 0.0 (xxx отз.)</div>
                            </div>
                            <button data-easy-toggle="#modalWin" data-easy-class="show" class="button_add_star">Оценить
                            </button>
                            <div id="modalWin" class="modal_w">
                                <div class="modal_window">
                                    <h3>Оцените товар</h3>
                                    <div class="rectangle_opinion_info_modal">
                                        <img src="/images/products/star.png" alt="">
                                        <img src="/images/products/star.png" alt="">
                                        <img src="/images/products/star.png" alt="">
                                        <img src="/images/products/star.png" alt="">
                                        <img src="/images/products/star.png" alt="">
                                        <button data-easy-toggle="#modalWin" data-easy-class="show"
                                                class="button_add_star">Оценить
                                        </button>
                                        <button data-easy-toggle="#modalWin" data-easy-class="show"
                                                class="button_close">X
                                        </button>
                                    </div>
                                </div>
                                <div class="overlay" data-easy-toggle="#modalWin" data-easy-class="show"></div>
                            </div>
                        </div>
                    </div>
                    <!--  КОНЕЦ ОТЗЫВ   -->

                    <div class="product_container_info">
                        <div class="product_option_inner">
                            <div class="option_product element_har">
                                <div th:text="'Процессор: ' + ${item.processorName}"></div>
                                <div th:text="'Видеокарта(ты): ' + ${item.videoCardName}"></div>
                                <div th:text="'Объём ОП: ' + ${item.ramSize} + ' ГБ'"></div>
                                <div th:text="'Дисплей: ' + ${item.display}"></div>
                                <div th:text="'Диски памяти: ' + ${item.memoryDrives}"></div>
                                <div th:text="'Вр. раб. от батареи: ' + ${item.batteryLife}"></div>
                                <div th:text="'Установленная система: ' + ${item.osName}"></div>
                                <div th:text="'Товар ' + ${item.status}"></div>
                                <div th:if="${item.inStock}">
                                    <p>Товар в наличии</p>
                                </div>
                                <div th:unless="${item.inStock}">
                                    <p>Товара в наличии нет</p>
                                </div>
                                <div th:text="'Товар добавлен на сайт: ' + ${item.dateTimeCreate}"></div>
                            </div>
                        </div>

                        <div class="price_and_buy_info">
                            <div class="price_config">
                                <div class="price_text">Цена:&#160;</div>
                                <div class="price" th:text="${item.price}"></div>
                                <div class="price_text">&#160;₽</div>
                            </div>
                            <div class="element_right">
                                <button class="text-field__btn_buy" type="button">В корзину</button>
                            </div>
                            <div class="element_right">
                                <button class="text-field__btn_fav" type="button">В избранное</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--        КОНЕЦ ФОРМЫ ПРОДУКТА-->

        <div class="elements_group_3">
            <h4>Описание</h4>
            <hr>
            <th:block th:each="des : ${description}">
                <li th:utext="${des}">..</li>
            </th:block>
        </div>

        <div class="elements_group_3">
            <h4>Задать вопрос продавцу</h4>
            <hr>
            <div class="mb-3">
                <textarea class="form-control" rows="6" cols="100" name="comment" placeholder="Вопрос по товару"></textarea><br>
            </div>
            <button class="btn btn-primary btn-lg btn-block">Добавить</button>

            <hr>
            <h4>Последние комментарии и ответы</h4>
            <!-- ТУТ БУДУТ КОММЕНТАРИИ ОТ ПОЛЬЗОВАТЕЛЕЙ -->
            комментарий
            комментарий
            комментарий
            комментарий
            комментарий
            комментарий
            комментарий
            комментарий
        </div>
    </div>
</div>


</body>
</html>