<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body style="background: #E4E4E4;">
<div class="container">
    <h1 class="product_name mt-4">Панель администратора</h1>
    <h2 class="product_name mt-3">Выберите каталог товара для добавления</h2>
    <div class="inner_container_1">
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/1computers.png" alt="">
                    </div>
                    <div class="inner_text">Компьютеры</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="/admin/notebook/">
                    <div class="catalog_form">
                        <img src="/images/catalog/2laptops.png" alt="">
                    </div>
                    <div class="inner_text">Ноутбуки</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/3accessories.png" alt="">
                    </div>
                    <div class="inner_text">Комплектующие ПК</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/4spareparts.png" alt="">
                    </div>
                    <div class="inner_text">Запчасти</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/5peripheraldevices.png" alt="">
                    </div>
                    <div class="inner_text">Переферийные устройства</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/6officeequipment.png" alt="">
                    </div>
                    <div class="inner_text">Оборудования для офиса</div>
                </a>
            </div>
        </div>
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/7externaldrives.png" alt="">
                    </div>
                    <div class="inner_text">Внешние накопители</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/8other.png" alt="">
                    </div>
                    <div class="inner_text">Прочее</div>
                </a>
            </div>
            <div class="inner_element empty_"></div>
            <div class="inner_element empty_"></div>
            <div class="inner_element empty_"></div>
            <div class="inner_element empty_"></div>
        </div>

        <h2 class="product_name mt-2">Заявки на предоставление ремона</h2>
        <div style="text-align:left;">
            <ul>
                <li><a href="/admin/application/"><h3>Новые заявки на ремонт</h3></a></li>
                <li><a href="#"><h3>Выполненые заявки</h3></a></li>
                <li><a href="#"><h3>Архив заявок</h3></a></li>
            </ul>
        </div>
        <h2 class="product_name mt-2">Отчёт о проданных товарах</h2>
        <ul>
            <li><a href="#"><h3>Статистика</h3></a></li>
            <li><a href="#"><h3>Архив товаров</h3></a></li>
            <li><a href="#"><h3>Отчёт продажи месяц</h3></a></li>
            <li><a href="#"><h3>Отчёт продажи день</h3></a></li>
        </ul>
        <h2 class="product_name mt-2">Комментарии и отзывы</h2>
        <ul>
            <li><a href="#"><h3>Отзывы о товарах</h3></a></li>
            <li><a href="#"><h3>Неотвеченные комментарии</h3></a></li>
            <li><a href="#"><h3>Завершённые комментарии</h3></a></li>
            <li><a href="#"><h3>История ответов</h3></a></li>
        </ul>
        <h2 class="product_name mt-2">Система пользователей</h2>
        <ul>
            <li><a href="#"><h3>Список пользователей</h3></a></li>
            <li><a href="#"><h3>Чёрный список пользователей</h3></a></li>
            <li><a href="#"><h3>Отчёт о взаимодействиях</h3></a></li>
            <li><a href="#"><h3>Жалобы и предложения</h3></a></li>
        </ul>
    </div>
</div>

</body>
</html>