<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body style="background: #E3E3E3;">
<div class="container">
    <h1 class="product_name">Панель администратора</h1>
    <h2 class="product_name">Выберите каталог товара для добавления</h2>
    <div class="inner_container_1">
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/1computers.png" alt="">
                    </div>
                    <div class="inner_text">Компьютеры</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="/admin/notebook/">
                    <div class="catalog_form">
                        <img src="/images/catalog/2laptops.png" alt="">
                    </div>
                    <div class="inner_text">Ноутбуки</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/3accessories.png" alt="">
                    </div>
                    <div class="inner_text">Комплектующие ПК</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/4spareparts.png" alt="">
                    </div>
                    <div class="inner_text">Запчасти</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/5peripheraldevices.png" alt="">
                    </div>
                    <div class="inner_text">Переферийные устройства</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/6officeequipment.png" alt="">
                    </div>
                    <div class="inner_text">Оборудования для офиса</div>
                </a>
            </div>
        </div>
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/7externaldrives.png" alt="">
                    </div>
                    <div class="inner_text">Внешние накопители</div>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img class="image_catalog" src="/images/catalog/8other.png" alt="">
                    </div>
                    <div class="inner_text">Прочее</div>
                </a>
            </div>
        </div>

        <a href="#"><h2 class="product_name mt-2">Заявки на предоставление ремона</h2></a>
        <a href="#"><h2 class="product_name mt-2">Отчёт о проданных товарах</h2></a>
        <a href="#"><h2 class="product_name mt-2">Отчёт о последних взаимодействиях с товарами</h2></a>
        <a href="#"><h2 class="product_name mt-2">Отчёт о пользователях</h2></a>
    </div>
</div>

</body>
</html>