<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <h1 class="product_name mt-4">Подкаталог товаров "Переферийные устройства"</h1>
    <div>
        <div><a href="/">Главная</a> &nbsp; > &nbsp; <a href="/shop">Каталог</a></div>
    </div>
    <div class="inner_container_1">
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="/monitor/list">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/monitor.png" alt="">
                    </div>
                    <p class="inner_text">Мониторы</p>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/keyboard.png" alt="">
                    </div>
                    <p class="inner_text">Клавиатуры</p>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/mouse.png" alt="">
                    </div>
                    <p class="inner_text">Мыши</p>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/mouse_pad.png" alt="">
                    </div>
                    <p class="inner_text">Коврики для мыши</p>
                </a>
            </div>
        </div>
        <div class="inner_container_2">
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/webcams.png" alt="">
                    </div>
                    <p class="inner_text">Веб-камеры</p>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/audio.png" alt="">
                    </div>
                    <p class="inner_text">Наушники</p>
                </a>
            </div>
            <div class="inner_element">
                <a href="#">
                    <div class="catalog_form">
                        <img src="/images/catalog/peripherals/gp.png" alt="">
                    </div>
                    <p class="inner_text">Графические планшеты</p>
                </a>
            </div>
        </div>
    </div>
</div>

<header th:insert="blocks/bottom :: bottom"></header>

</body>
</html>