<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="blocks/libraries :: libraries"></div>

</head>
<body>
<div class="container body-color">
    <h2>Создать товар:</h2>
    <h4 class="mb-3">Добавление ноутбука</h4>
    <form method="post" action="/admin/notebook">
        <div class="col-xl-30 order-md-3 cont">
            <div class="model_name">
                <div>
                    <label>Модель</label>
                    <div class="width-selected">
                        <select name="brand" id="brand-select" class="form-control">
                            <option>Выберите модель</option>
                            <option value="HP">HP</option>
                            <option value="Lenovo">Lenovo</option>
                            <option value="Acer">Acer</option>
                            <option value="Asus">Asus</option>
                            <option value="Samsung">Samsung</option>
                            <option value="Xiaomi">Xiaomi</option>
                            <option value="Dell">Dell</option>
                            <option value="Apple">Apple</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Название</label>
                    <div class="in_size">
                        <input type="text" class="form-control" placeholder="Название" name="name">
                    </div>
                </div>
                <div class="mb-3">
                    <label>Цена </label>
                    <div class="price_size">
                        <input type="number" class="form-control" placeholder="Цена" name="price">
                    </div>
                </div>
            </div>

            <div class="model_name">
                <div class="mb-3">
                    <label>Статус </label>
                    <div class="width-selected">
                        <select name="status" id="status-select" class="form-control">
                            <option>Выберите статус</option>
                            <option value="Новый">Новый</option>
                            <option value="БУ">Бывшего употребления</option>
                            <option value="На запчасти">На запчасти</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Наличие </label>
                    <div class="width-selected">
                        <select name="inStock" id="inStock-select" class="form-control">
                            <option>Выберите параметр</option>
                            <option value="TRUE">Имеется в наличии</option>
                            <option value="FALSE">Нет в наличии</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Дисплей </label>
                    <div class="in_display">
                        <input type="text" class="form-control" placeholder="Дисплей" name="display">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label>Процессор </label>
                <input type="text" class="form-control" placeholder="Процессор" name="processorName">
            </div>

            <div class="mb-3">
                <label>Видеокарта </label>
                <input type="text" class="form-control" placeholder="Видеокарта" name="videoCardName">
            </div>

            <div class="model_name">
                <div class="mb-3">
                    <label>Объём ОП </label>
                    <div class="price_size">
                        <input type="number" class="form-control" placeholder="Объём ОП" name="ramSize">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Накопители </label>
                    <div class="in_md">
                        <input type="text" class="form-control" placeholder="Накопители" name="memoryDrives">
                    </div>
                </div>
            </div>

            <div class="model_name">
                <div class="mb-3">
                    <label>Версия ОС </label>
                    <div class="in_version">
                        <input type="text" class="form-control" placeholder="Версия ОС" name="osName">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Время от батареи </label>
                    <div class="in_time">
                        <input type="text" class="form-control" placeholder="Время от батареи" name="batteryLife">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Время использования</label>
                    <div class="in_time">
                        <input type="text" class="form-control" placeholder="Время использования" name="termOfUse">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label>Описание </label>
                <textarea class="form-control" rows="5" cols="100" name="description" placeholder="Описание"></textarea><br>
            </div>

            <!--            <div class="model_name lower_mapping">-->
            <!--                <input type="file" class="form-control flex-item" name="image_1">-->
            <!--                <input type="file" class="form-control flex-item" name="image_2">-->
            <!--                <input type="file" class="form-control flex-item" name="image_3">-->
            <!--            </div>-->

            <!--            <div class="model_name lower_mapping">-->
            <!--                <input type="file" class="form-control flex-item" name="image_4">-->
            <!--                <input type="file" class="form-control flex-item" name="image_5">-->
            <!--                <input type="file" class="form-control flex-item" name="image_6">-->
            <!--            </div>-->

            <button class="btn btn-primary btn-lg btn-block lower_mapping" type="submit">Добавить</button>
        </div>
    </form>

    Список товаров:
    <div th:each="item : ${products}">
        <div class="info_list">
            <div>ID:</div>
            <div th:text="${item.id}"></div>
        </div>
        <div class="info_list">
            <div>Модель:</div>
            <div th:text="${item.brand}"></div>
        </div>
        <div>Название:</div>
        <div th:text="${item.name}"></div>
        <div>Цена:</div>
        <div th:text="${item.price}"></div>
        <div>Описание:</div>
        <div th:text="${item.description}"></div>
        <div>Статус:</div>
        <div th:text="${item.status}"></div>
        <div>Наличие:</div>
        <div th:text="${item.inStock}"></div>
        <div>Дисплей:</div>
        <div th:text="${item.display}"></div>
        <div>Процессор:</div>
        <div th:text="${item.processorName}"></div>
        <div>Видеокарта:</div>
        <div th:text="${item.videoCardName}"></div>
        <div>Объём ОП:</div>
        <div th:text="${item.ramSize}"></div>
        <div>Накопители:</div>
        <div th:text="${item.memoryDrives}"></div>
        <div>Время от батареи:</div>
        <div th:text="${item.batteryLife}"></div>
        <div>Версия ОС:</div>
        <div th:text="${item.osName}"></div>
        <div>Время использования:</div>
        <div th:text="${item.termOfUse}"></div>
        <button>Удалить</button>
        <button>Редактировать</button>
        <br>
    </div>
</div>
</body>
</html>