<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body style="background: #F1F4F6;">
<header th:insert="blocks/header :: header"></header>

<h1 style="text-align: center" class="mt-5 mb-5">Мой аккаунт</h1>
<div th:each="us : ${user}">

    <div th:if="${show_result}" data-bs-toggle="modal" data-bs-target="#message_password">
        <!-- Modal -->
        <div class="modal fade" id="message_password" tabindex="-1" aria-labelledby="message_password_title"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="message_password_title">Обновление паролья</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${message_update_password}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закруть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-left: 50px; padding-right: 50px;">
        <div class="flex_">
            <div class="block_ p-2" style="width: 20%">
                <div class="account_form">
                    <div><img style="border:1px solid #E7E7E7; width: 100%" src="/images/avatar.jpg"/></div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-primary">
                            Изменить картинку
                        </button>
                    </div>
                    <div class="mt-2 mt-3">
                        <button type="button" class="btn btn-outline-primary">
                            Удалить картинку
                        </button>
                    </div>
                </div>
                <div class="account_form mt-4 td_none" style="text-align:left;font-size:20px;">
                    <div><a href="#">Мои бонусы</a></div>
                    <hr>
                    <div><a href="#">Мои избранные</a></div>
                    <hr>
                    <div><a href="#">Мои покупки</a></div>
                    <hr>
                    <div><a href="#">Моя история</a></div>
                </div>
            </div>
            <div class="block_" style="width: 75%">
                <div>
                    <h3 th:text="'Добрый день, ' + ${us.name}"></h3>
                </div>
                <div>
                    Простатривайте и редактируйте здесь свой аккаунт
                </div>
                <hr>
                <div>
                    <table cellpadding="0" cellspacing="0" border="0" BGCOLOR="#FFF" class="table_"
                           style="font-size:28px;background:#F1F4F6;margin-left:20px;;">
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 70%;">
                        </colgroup>
                        <tr>
                            <td class="left_t_element">Логин:</td>
                            <td>
                                <div th:text="${us.username}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left_t_element">Имя:</td>
                            <td>
                                <div th:text="${us.name}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left_t_element">Электронная почта:</td>
                            <td>
                                <div th:text="${us.email}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="left_t_element">Номер телефона:</td>
                            <td>
                                <div th:text="${us.phoneNumber}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <center>
                    <div class="mt-5">
                        <button type="button" class="btn btn-outline-primary" style="text-align:center;width:250px;"
                                data-toggle="modal" data-target="#updateDate">
                            Изменить данные
                        </button>

                        <!-- Modal -->
                        <header th:insert="blocks/modals/userModals :: updateData"></header>
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn btn-outline-primary" style="text-align:center;width:250px;"
                                data-toggle="modal" data-target="#updatePassword">
                            Изменить пароль
                        </button>
                        <!-- Modal -->
                        <header th:insert="blocks/modals/userModals :: updatePassword"></header>
                    </div>
                    <div class="mt-3">
                        <form action="/logout">
                            <button type="submit" class="btn btn-outline-secondary"
                                    style="text-align:center;width:250px;">
                                Выйти
                            </button>
                        </form>
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn btn-outline-danger" style="text-align:center;width:250px;"
                                data-toggle="modal" data-target="#deleteAccount">
                            Удалить аккаунт
                        </button>

                        <header th:insert="blocks/modals/userModals :: deleteAccount"></header>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<header th:insert="blocks/bottom :: bottom"></header>
</body>
</html>