<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body style="background: #F1F4F6;">
<header th:insert="blocks/header :: header"></header>

<h3 style="text-align: center" class="mt-5 mb-3">Авторизация пользователя</h3>

<!--<script type="text/javascript">-->
<!--    $(window).on('load',function(){-->
<!--        $('#message').modal('show');-->
<!--    });-->
<!--</script>-->

<!--<header th:insert="blocks/modals :: login"></header>-->

<div th:if="${param.error}">Некорректный логин или пароль</div>
<div th:if="${param.logout}">Вы вышли из аккаунтка</div>

<div class="container_reg mb-5">
    <form th:action="@{/login}" method="post">
        <div class="form-group space_top">
            <label for="username">Логин или почта</label>
            <input type="text" class="form-control" id="username" placeholder="login" name="username">
        </div>

        <div class="form-group space_top">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Пароль" name="password">
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <div>
            <button type="submit" class="btn btn-primary space_top mt-5" value="Sign In">Войти</button>
        </div>
    </form>
    <p class="mt-5">Если у вас ещё нет аккаунта - <a href="/registration">Зарегистрируйтесь</a></p>
</div>

<header class="mt-5" th:insert="blocks/bottom :: bottom"></header>

</body>
</html>