<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <div th:insert="blocks/libraries :: libraries"></div>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h3 style="text-align: center" class="mt-5 mb-3">Авторизация пользователя</h3>

<div class="container_reg mb-5">
    <form action="/login" method="post">
        <div class="form-group space_top">
            <label for="inputEmail">Почта</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" name="username">
        </div>

        <div class="form-group space_top">
            <label for="inputPassword">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" name="password">
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary space_top mt-5">Войти</button>
        </div>
    </form>
</div>

<header th:insert="blocks/bottom :: bottom"></header>

</body>
</html>