body {
font-family:Roboto, sans-serif;
font-size:16px;
color#333;
background: #F1F4F6;
margin:0;
}

*,::before,::after {
box-sizing:border-box;
}

.container, .header_background, .header_container, .container_reg{
width:100%;
margin:0 auto;
}

.container {
max-width:1200px;
}

.container_reg {
max-width:800px;
}

.header_background {
height:120px;
background-color:#fff;
}

.header_container {
max-width:1200px;
max-height:150px;
}

.header_element {
padding-top:20px;
align-items:flex-start;
display:flex;
}

.text_container {
padding-left:21px;
}

.title_name {
font-weight:500;
font-size:36px;
line-height:42px;
color:#000;
}

.process_name {
padding-top:10px;
font-weight:300;
font-size:18px;
line-height:21px;
}

.full_line {
height:1px;
border:1px solid #000000;
}

.panel_inner {
display:flex;
justify-content:space-between;
width:500px;
}

.panel_inner button,.another {
background:0 0;
border:0;
color:#000;
text-decoration:none;
font-size:14px;
cursor:pointer;
list-style:none;
}

.panel_inner button:hover,.another:hover {
color:#de5000;
}

.dropdown2 {
position:relative;
}

.dropdown2 ul {
position:absolute;
background:#c9e2e6;
width:250px;
height:200px;
display:flex;
justify-content:space-around;
align-items:center;
flex-direction:column;
list-style:none;
border-radius:5px;
padding:0;
}

.dropdown2 li {
width:100%;
height:100%;
color:#000;
display:flex;
justify-content:center;
align-items:center;
}

.dropdown2 li:hover {
background-color:#ffb468;
}

.dropdown2 a,.panel_inner a {
color:#000;
text-decoration:none;
}

.mail_and_number {
font-size:14px;
padding-right:10px;
}

.end_panel {
margin-left:10px;
display:flex;
}

.ico {
width:25px;
height:25px;
}

.login {
font-size:18px;
text-decoration:none;
list-style:none;
cursor:pointer;
}

.info_chart {
height:225px;
padding-top:43px;
font-weight:800;
font-size:80px;
line-height:75px;
text-align:center;
color:#fff;
}

.info_sub_start {
height:140px;
padding-top:43px;
font-weight:300;
font-size:24px;
line-height:28px;
text-align:center;
color:#fff;
}

.menu_container {
background-color:#fff;
}

/* ТОВАР */

.product_name {
text-align:center;
color:#000;
}

.main_panel {
height: 40px;
display:flex;
justify-content:space-between;
align-item: center;
}

.find_count {
display:flex;
justify-content:space-around;
font-weight:700;
font-size:28px;
color:#000;
}



.form-control {
width:100%;
}

.text-field__group {
    display:flex;
}

.text-field__btn {
width:120px;
margin-left:10px;
display:inline-block;
font-weight:400;
line-height:1.5;
color:#212529;
text-align:center;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
background-color:#eee;
border:1px solid #bdbdbd;
font-size:1rem;
border-radius:.25rem;
transition:background-color .15s ease-in-out;
padding:.375rem .75rem;
}

.btn_filter{
    margin-top: 20px;
    margin-left: 40px;

    width:275px;
    align-items:center;
    text-align:center;
}

.text-field__btn:hover {
background-color:#bdbdbd;
}

.text-field__btn_fav {
width:125px;
margin-top:10px;
display:inline-block;
font-weight:400;
line-height:1.5;
color:#212529;
text-align:center;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
font-size:1rem;
transition:background-color .15s ease-in-out;
padding:.375rem .75rem;

background: linear-gradient(90deg, #FF9090 0%, #FFCDFD 100%);
background-blend-mode: multiply;
border: 1px solid #FDB3FA;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}

.text-field__btn_fav:hover {
background-color:#FEDAFF;
}

.text-field__btn_buy {
width:125px;
margin-top:10px;
display:inline-block;
font-weight:400;
line-height:1.5;
color:#212529;
text-align:center;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
font-size:1rem;
transition:background-color .15s ease-in-out;
padding:.375rem .75rem;

background: linear-gradient(90deg, #EAE454 0%, #FF9DC0 100%);
background-blend-mode: multiply;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 10px;

border: 1px solid #D6B4B4;
}

.text-field__btn_buy:hover {
background-color:#D8D59C;
}

.text-field__input {
display:block;
width:700px;
font-family:inherit;
font-size:1rem;
font-weight:400;
line-height:1.5;
color:#212529;
background-color:#fff;
background-clip:padding-box;
border:1px solid #bdbdbd;
border-radius:5px;
transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;
padding:.375rem .75rem;
}

.text-field__group .text-field__input {
border-top-right-radius:0;
border-bottom-right-radius:0;
position:relative;
z-index:2;
}

.text-field__group .text-field__btn {
font-size:16px;
background-color:#f57c00;
color:#000;
border-radius:5px;
position:relative;
border-top-left-radius:0;
border-bottom-left-radius:0;
border-left-width:0;
}

.button_searche {
background-color:#4caf50;
border:0;
color:#fff;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
padding:15px 32px;
}
/* ПАНЕЛЬ */
.panel_filter,
.sorted_group,
.elements_group,
.elements_group_basket,
.catalog_form,
.catalog_form_2,
.elements_group_3,
.account_form,
.admin_form{
background-color:#FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius:20px;
}

.panel_filter {
display:block;
padding:15px 30px;
}

.panel_filter_main_text{
font-size:24px;
font-weight:700;
align-items:center;
text-align:center;
}

.filter_par{
font-size: 18px;

display:block;
justify-content:space-around;
}

.panel_filter div {
letter-spacing:0;
min-height:29px;
}

.panel_filter_and_data {
margin-top:30px;
display:flex;
justify-content:space-between;
}

.input_price{
width: 150px;
}

/* checkbox */
.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 3px);
  --uiToggleColor: var(--toggleColor, #F57C00);
  display: var(--toggleDisplay, inline-flex);
  position: relative;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
}

.toggle__input{
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.toggle__label{
  margin-bottom: 3px;

  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}

.toggle__label::after{
  content: "";
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);

  background-color: transparent;
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.toggle__input:checked ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
}

.toggle__label::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);

  position: absolute;
  top: .5428em;
  left: .25em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:checked ~ .toggle__label::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);

  width: .4em;
  height: .2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}

/*  */
.scroll_ {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height:150px;
    width:100%;
    padding-left: 10px;
}
:root {
  --scrollbarBg: rgba(224, 224, 224, 1);
  --scrollbarThumb: rgba(255, 255, 255, 0.8);
  --scrollbarWidth: 12px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
.scroll_ {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
.scroll_::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.scroll_::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}
.scroll_::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.sort_elements {
position:absolute;
width:822px;
height:40px;
left:496px;
top:332px;
background:#e0e0e0;
border-radius:15px;
}

.search_element_container {
width: 65%;
display:flex;
flex-direction:column;
}

.sorted_group {
padding:6px 10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.elements_group {
align-items:center;
display:flex;
justify-content:flex-start;
height:250px;
margin-top:32px;
max-width:850px;
padding:0 28px;
}

.elements_group_basket {
align-items:center;
display:flex;
justify-content:flex-start;
height:250px;
margin-top:32px;
width:1000px;
padding:0 28px;
}

.product_option_inner {
margin-right: 10px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.rectangle_opinion {
background-color:#EAEAEA;
border-radius:10px;
height:25px;
display:flex;
justify-content:space-between;
align-items:center;
padding:5px;
}

.rectangle_opinion_p {
margin-top:18px;
height:20px;
font-size:14px;
}

.price_and_buy {
margin-left: 10px;
display:flex;
flex-direction:column;
justify-content:flex-end;
align-items:center;
}

.price_config {
display:flex;
align-items:center;
}

.price_text {
font-size:16px;
font-weight:300;
}

.price {
font-size:24px;
font-weight:600;
}

.price_text_2 {
font-size:36px;
font-weight:400;
}

.price_2 {
font-size:42px;
font-weight:600;
}

.element_right {
margin-left:auto;
}

.product_container {
margin-left:20px;
display:block;
justify-content:space-between;
}

.product_container2 {
width:550px;
display:flex;
justify-content:space-between;
}

.product_container3 {
width:650px;
display:flex;
justify-content:space-between;
}

.product_full_name {
font-size:20px;
font-weight:700;
}

.product_full_name {
font-size:28px;
font-weight:700;
}

.cont {
margin:50px 50px 50px;
padding-bottom: 30px;
}

.inner_element {
margin-top:50px;
display:block;
}

.catalog_form, .empty_{
width:200px;
height:200px;
margin-left:20px;
box-sizing:border-box;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.catalog_form_2{
width:150px;
height:150px;
margin-left:20px;
box-sizing:border-box;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.catalog_form:hover {
background:#C4C4C4;
}

.inner_text {
width:200px;
height:60px;
margin-left:20px;
margin-top:10px;
font-weight:600;
font-size:24px;
line-height:28px;
text-align:center;
color: #000000;
}

.inner_text_2 {
width:125px;
height:60px;
margin-left:30px;
margin-top:10px;
font-weight:600;
font-size:16px;
line-height:28px;
text-align:center;
color: #000000;
}

.link_back{
font-weight:400;
font-size:20px;
}

.td-none{
text-decoration:none;
}

.inner_text:hover, .inner_text_2:hover{
color:#9E9E9E;
}

a.inner_text:active,a.inner_text:hover,a.inner_text {
text-decoration:none;
font-size:28px;
color:#666;
}

.width-selected,.price_size {
width:200px;
}

.in_size,.in_display {
width:600px;
}

.in_md {
width:850px;
}

.in_version {
width:400px;
}

.body-color {
background-color:#EEEEEE;
}

.lower_mapping {
margin-bottom:50px;
}

.left__{
margin-left: 20px;
}

.elements_group_2 {
background-color:#EDEDED;
border-radius:20px;
display:flex;
justify-content:flex-start;
width:100%;
height:800px;
margin-top:50px;
margin-left:150px;
max-width:1000px;
padding:40px;
}

.elements_group_3 {
margin: 0 auto;
text-align: center;
margin-top:30px;
padding:40px;
}

.change_position {
display:flex;
flex-direction:row;
justify-content:space-between;
}

.info_product_inner {
margin-top:50px;
display:flex;
justify-content:space-between;
}

.text_add_otz {
height:40px;
display:flex;
justify-content:space-between;
}

.display_flex_start {
display:flex;
justify-content:flex-start;
align-items:center;
}

.display_flex_space_b_ {
margin-bottom:20px;
display:flex;
justify-content:start;
align-items:center;
}

.flex_start {
display:flex;
justify-content:start;
}

.main_text {
font-style:normal;
font-weight:700;
font-size:20px;
margin-left:0;
}

.left_ {
margin-left:10px;
}

.little_images {
margin-top:10px;
width:250px;
display:flex;
justify-content:space-between;
}

.product_full_name_info {
margin-left:auto;
font-size:24px;
font-weight:700;
margin-bottom:20px;
}

.element_har {
font-size:16px;
}

.rectangle_opinion_info {
background-color:#EAEAEA;
border-radius:10px;
height:45px;
width: 400px;
display:flex;
justify-content:space-between;
padding:5px 20px;
}

.rectangle_opinion_p_info {
font-size:16px;
margin-top: 5px;
margin-left: 10px;
}

.button_add_star {
margin-left:30px;
width:100px;
height:35px;
font-weight:400;
line-height:1.5;
color:#212529;
text-align:center;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
background-color:#FFB340;
border:1px solid #bdbdbd;
font-size:1rem;
border-radius:.25rem;
transition:background-color .15s ease-in-out;
padding:.375rem .75rem;
}

.button_add_star:hover {
background-color:#F90;
}

.modal_w {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
visibility:hidden;
z-index:-1;
opacity:0;
}

.modal_w.show {
visibility:visible;
z-index:100;
opacity:1;
}

.modal_w .overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#000;
opacity:0.7;
z-index:0;
}

.modal_window {
position:relative;
z-index:2;
width:500px;
border-radius:10px;
box-shadow:0 10px 15px rgba(0,0,0,.4);
background-color:#ffff;
padding:30px;
}

.rectangle_opinion_info_modal {
background-color:#fff;
border-radius:10px;
height:50px;
width:440px;
display:flex;
justify-content:space-between;
align-items:end;
}

.rectangle_opinion_info_modal img {
width:35px;
height:35px;
}

.button_close {
position:absolute;
right:20px;
top:20px;
font-size:20px;
border:none;
background:none;
opacity:0.7;
}

.button_close:hover {
opacity:1;
}

.product_option_inner_info {
padding-right:20px;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.price_and_buy_info {
padding-left:20px;
display:flex;
flex-direction:column;
justify-content:flex-end;
align-items:center;
}

.social_network {
width:30%;
background:#2F485B;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px;
padding-left:50px;
}

.social_network,.subscribe,.social_network_fon,.subscribe_fon {
height:75px;
}

.subscribe {
width:70%;
background:#647D90;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px;
mapping-top: 400px;
}

.social_network_fon {
width:400px;
background:#2F485B;
}

.subscribe_fon {
width:500px;
background:#647D90;
}

.links {
height:400px;
padding-top:50px;
background:#DDD;
}

.dis_block {
display:block;
justify-content:space-between;
}

.display_block {
display:block;
justify-content:space-around;
}

.display_flex_sb {
margin-top:200px;
display:flex;
justify-content:space-between;
}

.big_email_text {
font-style:normal;
font-weight:900;
font-size:18px;
line-height:21px;
color:#FFF;
}

.small_email_text {
font-style:normal;
font-weight:400;
font-size:14px;
line-height:16px;
color:#FFF;
}

.button_email_send {
margin-left:10px;
width:150px;
height:40px;
font-weight:400;
line-height:1.5;
color:#212529;
text-align:center;
vertical-align:middle;
cursor:pointer;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
background-color:#FFA951;
border:1px solid #bdbdbd;
font-size:1rem;
border-radius:.9rem;
transition:background-color .15s ease-in-out;
padding:.375rem .75rem;
}

.button_email_send:hover {
background-color:#F57C00;
}

.mapping_20 {
padding:10px;
}

.image_photo {
height:125px;
}

.image_photo, .button_del_upd{
width:175px;
}

.image_photo_2{
width:93px;
}

.image_photo_2_2{
width:150px;
}

.button_del_upd {
margin-top:5px;
margin-bottom:5px;
margin-left:10px;
}

.panel,.mail_panel,.info_list {
display:flex;
justify-content:flex-start;
}

.panel_inner a,p {
text-decoration:none;
}

.arrow,.application,.model_name,.product_container_info,.flex_ {
display:flex;
justify-content:space-between;
}

.sort_item,.info_inner_form,.my_flex {
display:flex;
}

.option_product,.rectangle_opinion_info div {
font-size:18px;
}

.rectangle_opinion img {
width:17px;
height:17px;
}

.rectangle_opinion_info img {
width:25px;
height:25px;
}

.inner_container_1,.images_pos,.block_ {
display:block;
}

.inner_container_2,.display_flex,.display_flex_space_b {
display:flex;
justify-content:space-around;
}

.inner_container_2 a{
text-decoration: none;
}

.catalog_form img,.image_catalog {
width:150px;
height:150px;
position:absolute;
}

.catalog_form_2 img {
width:100px;
height:100px;
position:absolute;
}


.in_time,.flex-item {
width:300px;
}

.img_border,table,th,td {
border:.25px solid #C4C4C4;
box-sizing: border-box;
border-radius: 10px;
}

.img_border{
background-size: cover;
object-fit:cover;
}

.space_top{
margin-top: 20px;
}

.content_{
width: 100%;
display: flex;
justify-content:space-between;
}

.left_block{
width: 32%;
display: block;
}

.find_count_element {
display:flex;
font-weight:700;
font-size:24px;
width: 50%;
margin: 0 auto;
}

.find_count_element_2 {
display:flex;
font-weight:700;
font-size:24px;
}

.text_center{
width: 50%;
margin: 0 auto;
}

.right_block{
width: 65%;
display: block;
}

.button_filter{
width: 60%;
}

.image_user{
width: 45px;
height: 45px;
border: 3px solid #444444;
border-radius: 12px;
}

.left_{
width: 100%;
margin-left: 30px;
}

.table_{
text-align:left;
width:100%;
font-size:18px;
border: none;
}

.table_2{
width:100%;
font-size:18px;
border: none;
}

.left_t_element{
font-size: 20px;
font-weight:700;
}
.bottom_left{
width:30%;
background:#2F485B;
padding:25px;
padding-left:300px;
}
.bottom_right{
width:30%;
background:#647D90;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px;
padding-right: 300px;
}

/* account */
.account_form {
margin: 0 auto;
text-align: center;
/* margin-top:30px; */
/* max-width:1000px; */
padding:20px;
}

/**/
.image_{
padding: 50px 0 30px 0;
width: 100%;
height: 100%;
background-image: url("/images/заявка_новая.png");
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

.main_logo_text{
margin-top: 40px;
font-weight: 800;
font-size: 64px;
line-height: 75px;
width: 700px;
height: 225px;
color: #FFFFFF;
text-align: center;
width: 50%;
margin: 0 auto;
}

.main_logo_bottom{
margin-top: 30px;
margin-bottom: 20px;
font-weight: 300;
font-size: 24px;
line-height: 28px;
height: 150px;
color: #FFFFFF;
width: 650px;
text-align: center;
width: 50%;
margin: 0 auto;
}

.button_main{
width: 250px;
height: 60px;
font-size: 30px;
}

.center_{
width: 50%;
margin: 0 auto;
}


#full-stars-example {

  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

#half-stars-example {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}


#full-stars-example {

  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    pointer-events: none;
  }

  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

#half-stars-example {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

#full-stars-example-two {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
}

.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-area {
	overflow: hidden;
	width: 225px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.first1{
    margin-left:16px;
    margin-top:32px;
    padding:0 28px;
    float: right;
}
.second2{
    width:280px;
    font-size:18px;
}