<div th:fragment="auth_header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- ХЕДЕР -->
    <div class="header_background">
        <div class="header_container">
            <div class="header_element">
                <a href="/"> <img height="75" width="75" src="/images/header/logo.png"/></a>
                <div class="text_container">
                    <div class="title_name">МАСТЕРСКАЯ ЭВМ</div>
                    <div class="process_name">Ремонт электронной техники&nbsp · Продажа и покупка техники</div>
                </div>
            </div>
            <hr class="full_line">
        </div>
    </div>

    <div class="menu_container">
        <header class="border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-5 link-secondary">Главная</a></li>
                        <li><a href="/shop" class="nav-link px-2 link-dark">Магазин</a></li>
                        <li><a href="/contacts" class="nav-link px-2 link-dark">Контакты</a></li>
                        <li><a href="/reviews" class="nav-link px-2 link-dark">Отзывы</a></li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle pt-2 px-2"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Ещё
                                </a>
                                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                                    <li><a class="dropdown-item" href="/interesting_articles">Интересные статьи</a></li>
                                    <li><a class="dropdown-item" href="/about_company">О компании</a></li>
                                    <li><a class="dropdown-item" href="/location">Местоположение</a></li>
                                    <li><a class="dropdown-item" href="/feedback">Обратная связь</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="mail_panel px-10">
                        <div class="mail_and_number">sar.comp.workshop@gmail.com</div>
                        <div class="mail_and_number">8 (964) 996-99-55</div>
                        <a href="/location">
                            <img width="20" height="20" src="/images/header/pin.png" alt="">
                        </a>
                    </div>
                    <div class="end_panel">
                        <a href="#"><img class="ico" src="/images/header/heart.png" alt=""></a>
                        <a href="#"><img class="ico" src="/images/header/bag.png" alt=""></a>
                    </div>
                    <div class="dropdown text-end px-5">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                 class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                            <li><a class="dropdown-item" href="/account">Мой аккаунт</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Мои заказы</a></li>
                            <li><a class="dropdown-item" href="#">Мои избранные</a></li>
                            <li><a class="dropdown-item" href="#">Моя история</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <a class="dropdown-item" href="#">
                                        <input type="submit" value="Выйти"/>
                                    </a>
                                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>