<div th:fragment="bottom" style="margin-top:200px;">
    <div class="flex_ mt-5 mt-5" style="height:75px;">
        <div class="flex_"  style="width:25%;background:#2F485B;padding:25px;padding-left:300px;">
            <a href="#"> <img height="26" width="26" src="/images/lower/odnoklassniki.png"/></a>
            <a href="#"> <img height="26" width="26" src="/images/lower/facebook.png"/></a>
            <a href="#"> <img height="26" width="26" src="/images/lower/instagram.png"/></a>
            <a href="#"> <img height="26" width="26" src="/images/lower/vk-social.png"/></a>
        </div>
        <div class="flex_" style="width:75%;background:#647D90;display:flex;justify-content:space-between;align-items:center;padding:30px;padding-right:300px;">
            <img height="40" width="40" src="/images/lower/email.png"/>
            <div class="dis_block">
                <div class="big_email_text">ПОДПИШИТЕСЬ НА НАШУ РАССЫЛКУ</div>
                <div class="small_email_text">и всегда будьте в курсе новостей, поступлений и скидках!</div>
            </div>
            <div>
                <input type="text" class="form-control" placeholder="@email" name="send_mail">
            </div>
            <div>
                <button class="button_email_send" type="submit">Подписаться</button>
            </div>

        </div>
    </div>
    <!--</div>-->
    <div class="links">
        <div class="container">
            <div class="display_flex_space_b">
                <div class="display_block">
                    <div class="display_flex_space_b_">
                        <img height="20" width="20" src="/images/lower/info.png"/>
                        <div class="main_text left_">Информация</div>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Обратная связь</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Местоположение</div>
                        </a>
                    </div>
                    <hr>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">О компании</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Политика кофиденциальности</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Написать отзыв</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Пользовательское соглашение</div>
                        </a>
                    </div>
                </div>
                <div class="display_block">
                    <div class="display_flex_space_b_">
                        <img height="20" width="20" src="/images/lower/buyer.png"/>
                        <div class="main_text left_">Для покупателей</div>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">Личный кабинет</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">История покупок</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">История избранных товаров</div>
                        </a>
                    </div>
                    <div class="display_flex_start"><img height="10" width="10"
                                                         src="/images/lower/right-arrow.png"/>
                        <a href="#">
                            <div class="left_">История просмотренных товаров</div>
                        </a>
                    </div>
                </div>
                <div class="display_block">
                    <div class="display_flex_space_b_">
                        <img height="20" width="20" src="/images/lower/star.png"/>
                        <div class="main_text left_">Дополнительно</div>
                    </div>
                    <div class="display_flex_start"><img height="13" width="13" src="/images/lower/pin.png"/>
                        <div class="left_"> 410056, г. Саратов, ул. Сакко и Ванцетти, д.47</div>
                    </div>
                    <div class="display_flex_start"><img height="13" width="13"
                                                         src="/images/lower/email_black.png"/>
                        <div class="left_">sar.comp.workshop@gmail.com</div>
                    </div>
                    <div class="display_flex_start"><img height="13" width="13" src="/images/lower/phone-call.png"/>
                        <div class="left_">+7(964)996-99-55</div>
                    </div>
                    <div class="display_flex_start"><img height="13" width="13" src="/images/lower/phone.png"/>
                        <div class="left_">+7(8452)27-54-49</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>